<form *ngIf="form" [formGroup]="form">
  <div class="form-wrapper">
    <mat-form-field>
      <mat-label>Produkt</mat-label>
      <input matInput type="text" formControlName="product">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Anzahl</mat-label>
      <input matInput type="text" formControlName="items">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Stückpreis</mat-label>
      <input matInput type="text" formControlName="maxPricePerItem">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Kommentar</mat-label>
      <textarea rows="5" matInput formControlName="comment"></textarea>
    </mat-form-field>
  </div>
</form>
<button (click)="cancel()">Abbrechen</button>
<button (click)="addOrderPosition()" [disabled]="form.invalid">Hinzufügen</button>
